appnope==0.1.0
backcall==0.1.0
beautifulsoup4==4.8.1
decorator==4.4.1
ipython==7.10.0
ipython-genutils==0.2.0
jedi==0.15.1
Jinja2==2.10.3
MarkupSafe==1.1.1
networkx==2.4
opencv-python
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
plotly==4.3.0
prompt-toolkit==3.0.0
ptyprocess==0.6.0
Pygments==2.5.1
python-igraph==0.7.1.post6
pyvis==0.1.7.0
retrying==1.3.3
six==1.13.0
sklearn
soupsieve==1.9.5
tqdm==4.39.0
traitlets==4.3.3
wcwidth==0.1.7
wget==3.2
